html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial;
}

.header h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3.5em;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.2);
	background-image: url(https://image.ibb.co/ciSeac/image.png);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation: animate 10s linear infinite;
}

@keyframes animate {
	0% {
		background-position: left 0px top 0px;
	}
	40% {
		background-position: left 800px top -100px;
	}
	80% {
		background-position: left 1800px top -100px;
	}
	100% {
		background-position: left 2400px top 0px;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 0.2fr 1fr auto;
	grid-template-areas:
		"header header header"
		"main main right"
		"footer footer footer";
	height: 100%;
}

.header {
	grid-area: header;
	background-color: #eee;
	padding: 0;
	line-height: 0.76;
}

.main {
	grid-area: main;
	background-color: #fff;
	padding: 20px;
}

.right {
	grid-area: right;
	background-color: #f2f0f0;
	padding: 20px;
	padding-left: 20%;
}

.footer {
	grid-area: footer;
	background-color: #ddd;
	padding: 20px;
}

.chart {
	margin-top: 2%;
	margin-left: 10%;
	height: 400px;
	width: 80%;
}

.chart2 {
	margin-top: 5%;
	margin-left: 10%;
	height: 400px;
	width: 80%;
}
