<!DOCTYPE HTML>
<html>
<head>
  <title>In&Out-Climate-Monitor</title>
  <link rel="icon" href="/static/img/tIcon.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.stock.min.js"></script>
  <script type="text/javascript"></script>
</head>
<body>
  <div class="grid-container">
    <div class="header">
        <h1>Climate-Monitor</h1>
    </div>
    <div class="main">
      <div id="chartContainer" class="chart"></div>
      <div id="chartContainer2" class="chart2"></div>
      <div id="chartContainer3" class="chart3"></div>
    </div>
    <div class="right">
      <h1>Data</h1>
      <p>Timestemp: <p1 id="timestamp"></p1></p>
      <p>Current T/H in: <p1 id="current"></p1></p>
      <p>Current T/H out: <p1 id="currentOut"></p1></p>
      <h2>Last 24H</h2>
      <p id="hI">Highest Temp In: <p1 id="highIn"></p1></p>
      <p id="lI">Lowest Tmep In: <p1 id="lowIn"></p1></p>
      <p id="hHI">Highest Hum In: <p1 id="hHIn"></p1></p>
      <p id="lHI">Lowest Hum In: <p1 id="lHIn"></p1></p>

      <p id="hO">Highest Tmep Out: <p1 id="highOut"></p1></p>
      <p id="lO">Lowest Temp Out: <p1 id="lowOut"></p1></p>
      <p id="hHO">Highest Hum Out: <p1 id="hHOut"></p1></p>
      <p id="lHO">Lowest Hum Out: <p1 id="lHOut"></p1></p>

      <h2>Last 7 days</h2>
      <p id="hIw">Highest Temp In: <p1 id="highInw"></p1></p>
      <p id="lIw">Lowest Tmep In: <p1 id="lowInw"></p1></p>

      <p id="hOw">Highest Tmep Out: <p1 id="highOutw"></p1></p>
      <p id="lOw">Lowest Temp Out: <p1 id="lowOutw"></p1></p>
    </div>
    <div class="footer"></div>
  </div>
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>
</html>
