<!DOCTYPE HTML>
<html>
<head>
  <title>In&Out-Climate-Monitor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
  <div class="grid-container">
    <div class="header">Header</div>
    <div class="main">
      <div id="chartContainer" class="chart"></div>
      <div id="chartContainer2" class="chart2"></div>
    </div>
    <div class="right">Right</div>
    <div class="footer"></div>
  </div>
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>
</html>
