<!DOCTYPE HTML>
<html>
<head>
  <title>In&Out-Climate-Monitor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
  <div class="grid-container">
    <div class="header">
        <h1>Climate-Monitor</h1>
    </div>
    <div class="main">
      <div id="chartContainer" class="chart"></div>
      <div id="chartContainer2" class="chart2"></div>
    </div>
    <div class="right">
      <h1>Data</h1>
      <p>Current T/H: <p1 id="current"></p1></p>
      <h2>In one Day</h2>
      <p id="hI">Highest Temp In: <p1 id="highIn"></p1></p>
      <p id="lI">Lovest Tmep In: <p1 id="lowIn"></p1></p>
      <p id="hHI">Highest Hum In: <p1 id="hHIn"></p1></p>
      <p id="lHI">Lovest Hum In: <p1 id="lHIn"></p1></p>

      <p id="hO">Highest Tmep Out: <p1 id="highOut"></p1></p>
      <p id="lO">Lovesr Temp Out: <p1 id="lowOut"></p1></p>
      <p id="hHO">Highest Hum Out: <p1 id="hHOut"></p1></p>
      <p id="lHO">Lovest Hum Out: <p1 id="lHOut"></p1></p>
    </div>
    <div class="footer"></div>
  </div>
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>
</html>
